div.change-password {
    padding: 16px;
}


/* Grid layout */
div.change-password .editor-window {
    max-width: 520px;
    column-gap: 18px;
    /* background-color: #d3d3d3; */
    padding: 16px;
    display: grid;
    grid-template-rows: min-content min-content min-content 1fr;
    grid-template-columns: 120px 1fr;

    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
}

div.change-password .editor-window .left-column {
    text-align: right;
    margin-bottom: 16px;
    
}
div.change-password .editor-window .right-column {
    margin-bottom: 16px;
}

/* grid: first row */
div.change-password .editor-window .profile-image {
    margin-bottom: 24px;
}
div.change-password .editor-window .profile-image img {
    height: 48px;
}
div.change-password .editor-window .profile-username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
}
div.change-password .editor-window .profile-username p {
    margin-bottom: 0;
    font-weight: bold;
}

div.change-password .editor-window a {
    font-size: .8em;
    font-weight: bold;
    color: #0095F6;
    text-decoration: none;
}


/* input, textarea */
div.change-password .editor-window input {
    width: 100%;
    border-radius: 4px;
    border: 1px rgb(187, 187, 187) solid;
    padding: 4px 6px;
}
div.change-password .editor-window input:focus {
    outline: none;
}

/* button */
div.change-password .editor-window button {
    border: none;
    border-radius: 4px;
    padding: 4px 16px;
    margin-top: 16px;
    background-color: #5E9697;
    color: #fff;
    margin-bottom: 12px;
}
div.change-password .editor-window button:disabled {
    cursor: default;
}
div.change-password .editor-window button:hover {
    background-color: #11515D;
    transition: .3s;
}
div.change-password .editor-window button:disabled:hover {
    background-color: #5E9697;
}
.pass-match-error {
    padding-top: 5px;
    font-size: .8em;
    color: rgb(212, 76, 76);
}
.change-pass-error-box {
    margin-top: 10px;
    font-size: .8em;
    padding: 12px;
    width: 100%;
    height: 140px;
    display: block;
}